/*Balise html */
h1{
	color:blue;
}

body{
	font-family:sans-serif;
	margin-top:35px;
	min-width:350px;
}
/* Class */

/* Test */

.bordertest{
	border: 1px black solid
}

.colortest{
	vertical-align: middle;
	padding: 1px;
	display: inline-block;
	width: 100%;
	height: 42px;
	border: 2px black inset;
}

/* ----------------------------*/
/* ----------------------------*/
/* ----------------------------*/
/* ----------------------------*/
/* ----------------------------*/
/* Border */
.borderfichevin{
	border: 1px black solid;
	border-radius:8px;
}
.borderimage{
	border: 1px black solid;
	width:12em;
	margin-bottom: 3em;
	border-radius:8px;
}

.border{
	border : 1px blue thin;
	min-height: 205px;
	max-width: 235px;
}
.border-md-margin{
	border : 1px black thin;
	min-height: 205px;
	margin-left: 9em;/*7%*/
	max-width: 235px;
}
.border-lg-margin{
	border : 1px black thin;
	min-height: 205px;
	margin-left: 8em;/*7%*/
	max-width: 235px;
}
.border-xs-margin{
	border : 1px black thin;
	min-height: 205px;
	text-align: center;
	margin-right: 2px;
}
.bordurenomvin{
	text-align: center;
	min-height: 42px;
	max-height: 42px;
	line-height: 42px;
}
/* ----------------------------*/
/* ----------------------------*/
/* ----------------------------*/
/* ----------------------------*/
/* ----------------------------*/

/* Margin */

.margintop{
	/*margin-top: 10px;*/
	display: inline-block;
}
.margincenternomvin{
	vertical-align: middle;
	padding: 1px;
	display: inline-block;
	width: 100%;
	height: 42px;
	border: 1px black solid;
	overflow: hidden;              /* la valeur "overflow" doit être différente de "visible" */ 
	text-overflow: ellipsis;
}

.collerdroite{
	right:0px;
}

/* ----------------------------*/
/* ----------------------------*/
/* ----------------------------*/
/* ----------------------------*/
/* ----------------------------*/
/* Less Style */

.NoUnderline:link{
	text-decoration: none;
}


/* Page suivante / Page précédente */
.page-xs{
	text-align: center;
	min-width:141px;
}
.page-sm{
	text-align: center;
	max-width: 235px;
}
.page-md{
	margin-left: 9em;/*7%*/
	text-align: center;
	max-width: 235px;
}
.page-lg{
	margin-left: 8em;/*7%*/
	max-width: 235px;
	text-align: center;
}

/* ----------------------------*/
/* ----------------------------*/
/* ----------------------------*/
/* ----------------------------*/
/* ----------------------------*/

/* Page suivante */
.page-sm-2{
	text-align: center;
	max-width: 705px;
}
.page-md-2{
	text-align: center;
	max-width: 705px;
	margin-left: 9em;
}
.page-lg-2{
	text-align: center;
	margin-left: 8em;
}

/* ----------------------------*/
/* ----------------------------*/
/* ----------------------------*/
/* ----------------------------*/
/* ----------------------------*/
/* Titre */
.titrefichevin{
	font-size: 20px;
	font-weight: bold;
	color:red;
}
/* ----------------------------*/
/* ----------------------------*/
/* ----------------------------*/
/* ----------------------------*/
/* ----------------------------*/
/* Contenu */
.information{
	height: 3em;
	border: 1px solid black;
	text-align: center;
	line-height: 3em;
}
.information2{
	height: 3em;
	line-height: 3em;
	border: 1px solid black;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	padding: 1px;
}
.informationmargin{
	margin-left: 1em;
	line-height: 3em;
	height: 3em;
	border: 1px solid black;
	text-align: center;
}
.boutonfichevin{
	width:6em;
	margin-left: -0.1em;
	margin-top: 0.7em;
}
.boutonfichevin2{
	width:6em;
	/*margin-left: -0.2em;
	margin-left: -1.1em;*/
	margin-left: -0.2em;
	margin-top: 0.7em;
}
.boutonfichevin3{
	width:6em;
	margin-left: -2em;
	margin-top: 0.7em;
}
.boutonfichevin4{
	width:6em;
	margin-top: 0.7em;
}

.boutonfichevin5{
	margin-left: 1.5em;
	width:6em;
	margin-top: 0.7em;
}
.pannier{
	position: fixed;
	right:15%;
	top: 60px;
}
.overflow2{
	overflow: hidden;
}
/*.pannier{
	position: fixed;
	right:0px;
	top: 60px;
}*/

/* ----------------------------*/
/* ----------------------------*/
/* ----------------------------*/
/* ----------------------------*/
/* ----------------------------*/

.sample{
	margin-top: 100px;
}

.image{
	width: 85px;
	height:120px;
}
.icone{
	width: 25px;
	height:35px;
}


.shadow
{
  -moz-box-shadow: 4px 4px 10px #888;  
  -webkit-box-shadow: 4px 4px 10px #888;  
  box-shadow:4px 4px 6px #888;
}

.redim_page {
	margin-right: 150px;
	margin-left: 150px;
}

.contenue 
{
	margin-top: 20px;
	/*border: solid 0.2px rgba(100, 100, 100, 1);*/
	border: solid 0.2px purple;
	background-color : #FFFFFF;
	border-radius: 8px;
}
@media (min-width: 768px) {
  .dl-horizontal dt { 
  	text-align: center;  
  	width: 100px; 
  	margin-left: 30px; }
  .dl-horizontal dd { 
  	margin-left: -40px; }
}
@media (max-width: 767px) {
	.dl-horizontal dt{
		width: 90px;
		display: inline-block;
	}
	.dl-horizontal dd{
		width: 30px;
		display: inline-block;
	}
	.dl-horizontal{
		margin-top: 0.5em;
		width: 131px;
		display: inline-block;
	}
}

@media (min-width: 0px ) {
	.dropdown-menu{
		width:230px;
	}
}
