{% extends "base.html" %}
{% block main %}

<div class="jumbotron">
  <h1>A propos</h1>
  <p>Ce site à pour but de répertorier tous les vins disponibles à la vente et d'en afficher les informations. Leurs ventes est possibles en ajoutant
ces vins à votre panier</p>
  <p><a class="btn btn-primary btn-lg" href="/" role="button">Voir les vins</a></p>
</div>


{% endblock %}
