{% extends "base.html" %}
{% block main %}
<div class=" center-block row">
	<div class="borderfichevin col-lg-12 col-md-12 col-sm-12 hidden-xs ">
		<p><span class="titrefichevin center-block text-center">{{vin.name}}</span></p>
		<div class="col-lg-1 col-md-1 col-sm-0 "></div>
		<img class=" col-lg-1 col-md-1 col-sm-1 borderimage" src="{{ url_for('static', filename='images/'+vin.image) }}"/> 
		<p style="margin-top:3em;">
			<span class="informationmargin col-md-2 col-sm-2 col-lg-2"><B>Category :</b></span>
			<span class="information2 col-md-2 col-sm-2 col-lg-2">{{vin.category}}</span>
			<span class="information col-md-2 col-sm-2 col-lg-2"><B>Country :</B></span>
			<span class="information2 col-md-2 col-sm-2 col-lg-2">{{vin.country}}</span>

			<span class="informationmargin col-md-2 col-sm-2 col-lg-2"><B>Quantity :</b></span>
			<span class="information2 col-md-2 col-sm-2 col-lg-2">{{vin.quantity}}</span>
			<span class="information col-md-2 col-sm-2 col-lg-2"><B>Region :</B></span>
			<span class="information2 col-md-2 col-sm-2 col-lg-2">{{vin.region}}</span>

			<span class="informationmargin col-md-2 col-sm-2 col-lg-2"><B>Varietal :</b></span>
			<span class="information2 col-md-2 col-sm-2 col-lg-2">{{vin.varietal}}</span>
			<span class="information col-md-2 col-sm-2 col-lg-2"><B>Vintage :</B></span>
			{% if vin.vintage == None %}
			<span class="information2 col-md-2 col-sm-2 col-lg-2">Non disponible</span>
			{% else %}
			<span class="information2 col-md-2 col-sm-2 col-lg-2">{{vin.vintage}}</span>
			{% endif %}
			<div class="col-lg-0 visible-lg">

			<div class="col-lg-2 visible-lg"></div>
			<a class="NoUnderline" href="{{url_for('home', num_page=numpage)}}">
	  			<button type="button" class=" NoUnderline boutonfichevin5 btn btn-warning btn-lg">

  				<span class=" NoUnderline glyphicon glyphicon-share-alt" aria-hidden="true"></span> 
	  			Retour
	  			</button>
	 		</a>
	 		<a href="{{url_for('edit_vin', id=x, page=numpage)}}"> 
	 			<button type="button" class="boutonfichevin btn btn-primary btn-lg">
  				<span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Editer
	  			</button>
	 		</a>
 			{% if current_user.is_authenticated() %}
	 		<a href="{{url_for('AjouterPannier', name=current_user.username, idvin=vin.id, pagevin=numpage, namevin=vin.name, imagevin=vin.image)}}"> 
	 				<button type="button" class="boutonfichevin btn btn-default btn-lg">
  					<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
  					Ajouter
	  				</button>
	 			</a>
	 		{% endif %}
	 		</div>
	 		<div class="col-md-0 col-sm-0 visible-md">
	 			<div class="col-md-2 col-sm-3 visible-md"></div>
				<a class="NoUnderline" href="{{url_for('home', num_page=numpage)}}">
	  				<button type="button" class=" NoUnderline boutonfichevin2 btn btn-warning btn-lg">
  					<span class=" NoUnderline glyphicon glyphicon-share-alt" aria-hidden="true"></span> 
	  				Retour
	  				</button>
	 			</a>
	 			<a href="{{url_for('edit_vin', id=x, page=numpage)}}"> 
	 				<button type="button" class="boutonfichevin btn btn-primary btn-lg">
  					<span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
  					Editer
	  				</button>
	 			</a>
 			{% if current_user.is_authenticated() %}
	 			<a href="{{url_for('AjouterPannier', name=current_user.username, idvin=vin.id, pagevin=numpage, namevin=vin.name, imagevin=vin.image)}}"> 
	 				<button type="button" class="boutonfichevin btn btn-default btn-lg">
  					<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
  					Ajouter
	  				</button>
	 			</a>
	 			{% endif %}
	 		</div>
	 		<div class="col-md-0 col-sm-0 visible-sm ">
	 			<div class="col-md-3 col-sm-2 visible-sm" ></div>

				<a class="NoUnderline" href="{{url_for('home', num_page=numpage)}}">
	  				<button type="button" class=" NoUnderline boutonfichevin3 btn btn-warning btn-lg">
  					<span class=" NoUnderline glyphicon glyphicon-share-alt" aria-hidden="true"></span> 
	  				Retour
	  				</button>
	 			</a>
	 			<a href="{{url_for('edit_vin', id=x, page=numpage)}}"> 
	 				<button type="button" class="boutonfichevin btn btn-primary btn-lg">
  					<span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
  					Editer
	  				</button>
	 			</a>
	{% if current_user.is_authenticated() %}
	 			<a href="{{url_for('AjouterPannier', name=current_user.username,idvin=vin.id, pagevin=numpage, namevin=vin.name, imagevin=vin.image)}}"> 
	 				<button type="button" class="boutonfichevin btn btn-default btn-lg">
  					<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
  					Ajouter
	  				</button>
	 			</a>
	 			{% endif %}

	 		</div>
	 	</div>
	 	<div class="borderfichevin col-xs-12 visible-xs ">
		<p>
			<span class="titrefichevin center-block text-center">{{vin.name}}</span>
		</p>
		<img class="center-block borderimage" src="{{ url_for('static', filename='images/'+vin.image) }}"/> 
		<p style="margin-top:3em;">
			<span class="information col-xs-2"></span>
			<span class="information col-xs-4"><B>Category :</b></span>
			<span class="information2 col-xs-4">{{vin.category}}</span>
			<span class="information col-xs-2"></span>
			
			<span class="information col-xs-2"></span>
			<span class="information col-xs-4"><B>Country :</B></span>
			<span class="information2 col-xs-4">{{vin.country}}</span>
			<span class="information col-xs-2"></span>

			<span class="information col-xs-2"></span>
			<span class="information col-xs-4"><B>Quantity :</b></span>
			<span class="information2 col-xs-4">{{vin.quantity}}</span>
			<span class="information col-xs-2"></span>

			<span class="information col-xs-2"></span>
			<span class="information col-xs-4"><B>Region :</B></span>
			<span class="information2 col-xs-4">{{vin.region}}</span>
			<span class="information col-xs-2"></span>

			<span class="information col-xs-2"></span>
			<span class="information col-xs-4"><B>Varietal :</b></span>
			<span class="information2 col-xs-4">{{vin.varietal}}</span>
			<span class="information col-xs-2"></span>

			<span class="information col-xs-2"></span>
			<span class="information col-xs-4"><B>Vintage :</B></span>
			{% if vin.vintage == None %} 
			<span title="Non disponible" class="information2 col-xs-4">ND</span>
			{% else %}
			<span class="information2 col-xs-4">{{vin.vintage}}</span>
			{% endif %}
			<span class="information col-xs-2"></span>

	 		<div class="col-xs-0 visible-xs ">
	 		
				<a class="NoUnderline" href="{{url_for('home', num_page=numpage)}}">
	  				<button type="button" class="NoUnderline boutonfichevin4 btn btn-warning btn-lg">
  					<span class=" NoUnderline glyphicon glyphicon-share-alt" aria-hidden="true"></span> 
	  				Retour
	  				</button>
	 			</a>

	 			<a href="{{url_for('edit_vin', id=x, page=numpage)}}"> 
	 				<button type="button" class="boutonfichevin btn btn-primary btn-lg">
  					<span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
  					Editer
	  				</button>
	 			</a>

	 			{% if current_user.is_authenticated() %}
        <a class="navbar-brand visible-xs" href="#"></a>

	 			<a href="{{url_for('AjouterPannier', name=current_user.username ,idvin=vin.id, pagevin=numpage, namevin=vin.name, imagevin=vin.image)}}"> 
	 				<button type="button" class="boutonfichevin btn btn-default btn-lg">
  					<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
  					Ajouter

	  				</button>
	 			</a>
	 	        {% endif %}
	 			
	 		</div>
		</p>

	</div>

</div>	
{% if current_user.is_authenticated() %}
<div class="pannier btn-group ">
  <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
    {{current_user.username }} <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
  	{% for x in pannier %}
    <li><div><a href="/vin/{{x.idvin}}/{{x.pagevin}}"><img class="icone" src="{{ url_for('static', filename='images/'+x.imagevin) }}">{{x.namevin}}</a>
    <a href="{{url_for('SupprimerPannier', id=x.id)}}"><span class="glyphicon collerdroite glyphicon glyphicon-remove" aria-hidden="true"></span></a></div></li>
    {% if loop.last %}
    <a href="{{url_for('ResetPannier',name=current_user.username)}}"><span class="glyphicon  glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a>
    </ul>
    <a href="/100"><span class="badge">{{loop.index}}</span></a>
    {% endif %}
    {% endfor %}
    {% if pannier|length==0 %}
   <div class="text-center">Pour ajouter un vin dans votre pannier il faut : </div>
   <div>-> Selectionner un vin en cliquant sur son image</div>
   <div>-> Puis ensuite cliquer sur le bouton "Ajouter" de la fiche du vin choisit.</div>
   <div class="text-center">Nous vous souhaitons une agréable visite.</div>
    </ul>
    {% endif %}

</div>			
{% endif %}				


	{% endblock %}

</div>
