{% extends "bootstrap/base.html" %}

<!doctype html>

{% block title %}{{ title }}{% endblock %}


{% block styles %} 
{{ super() }}
<link rel="stylesheet" href="{{ url_for ('static', filename='home.css') }}"/>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="../">Bazavin</a>	
		{% if current_user.is_authenticated() %}
        <a class="navbar-brand visible-xs" href="#">{{ current_user.username }}</a>
        {% endif %}
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
			 
			 <script>
			 
			 
			 varh = document.location.href.split("/");
			 z=varh[3]
	
			 
			 //~ if (varh =="{{ url_for ('home') }}"){
				//~ document.write("<li class='active'><a href='{{ url_for ('home') }}'>Home</a></li>");
			 //~ }
			 
			 if (z=="" || z==1){
				document.write("<li class='active'><a href='{{ url_for ('home') }}'>Home</a></li>")
				document.write("<li ><a href='{{ url_for ('about') }}'>About</a></li>")
				{% if current_user.is_authenticated() %}
				document.write("<li><a href='{{ url_for ('save_newvin')}}'>GestionVins</a></li>")
				{% else %}
				document.write("<li ><a href='{{ url_for ('login')}}'>Login</a></li>")
				document.write("<li><a href='{{ url_for ('inscription') }}'>Inscription</a></li>")		
				{% endif %}
				

				 }
			 else if (z=="about"){
				 document.write("<li ><a href='{{ url_for ('home') }}'>Home</a></li>")
				 document.write("<li class='active'><a href='{{ url_for ('about') }}'>About</a></li>")
				{% if current_user.is_authenticated() %}
				document.write("<li><a href='{{ url_for ('save_newvin')}}'>GestionVins</a></li>")
				{% else %}
				document.write("<li ><a href='{{ url_for ('login')}}'>Login</a></li>")
				document.write("<li><a href='{{ url_for ('inscription') }}'>Inscription</a></li>")		
				{% endif %}
				 
				 }
			else if (z=="login"){
				 document.write("<li ><a href='{{ url_for ('home') }}'>Home</a></li>")
				 document.write("<li ><a href='{{ url_for ('about') }}'>About</a></li>")
				{% if current_user.is_authenticated() %}
				document.write("<li><a href='{{ url_for ('save_newvin')}}'>GestionVins</a></li>")
				{% else %}
				document.write("<li class='active'><a href='{{ url_for ('login')}}'>Login</a></li>")
				document.write("<li><a href='{{ url_for ('inscription') }}'>Inscription</a></li>")		
				{% endif %}
				 
				 }
			 
			 else if (z=="save"){
				 document.write("<li ><a href='{{ url_for ('home') }}'>Home</a></li>")
				 document.write("<li><a href='{{ url_for ('about') }}'>About</a></li>")
				{% if current_user.is_authenticated() %}
				document.write("<li class='active'><a href='{{ url_for ('save_newvin')}}'>GestionVins</a></li>")

				{% else %}
				document.write("<li ><a href='{{ url_for ('login')}}'>Login</a></li>")
				document.write("<li><a href='{{ url_for ('inscription') }}'>Inscription</a></li>")	
				{% endif %}
				 	
				 }
			else if (z=="inscription"){
				 document.write("<li ><a href='{{ url_for ('home') }}'>Home</a></li>")
				 document.write("<li><a href='{{ url_for ('about') }}'>About</a></li>")
				{% if current_user.is_authenticated() %}
				document.write("<li><a href='{{ url_for ('save_newvin')}}'>GestionVins</a></li>")
				{% else %}
				document.write("<li ><a href='{{ url_for ('login')}}'>Login</a></li>")
				document.write("<li class='active'><a href='{{ url_for ('inscription') }}'>Inscription</a></li>")
				{% endif %}
				 
				 }
			else{
				 document.write("<li ><a href='{{ url_for ('home') }}'>Home</a></li>")
				 document.write("<li><a href='{{ url_for ('about') }}'>About</a></li>")	
				{% if current_user.is_authenticated() %}
				document.write("<li><a href='{{ url_for ('save_newvin')}}'>GestionVins</a></li>")
				{% else %}
				document.write("<li ><a href='{{ url_for ('login')}}'>Login</a></li>")
				document.write("<li><a href='{{ url_for ('inscription') }}'>Inscription</a></li>")	
				{% endif %}
				 		 
			}

            </script>
		</ul>
		<ul class="nav navbar-nav navbar-right">

			{% if current_user.is_authenticated() %}
			<li><a href="{{ url_for ('profil')}}">{{ current_user.username }}</a></li>
			<li><a href="{{ url_for('logout') }}">
				<span class="glyphicon glyphicon-log-out" title="Logout"></span></a></li>
			{% endif %}

		  </ul>	
		  
					<!--/.partie formulaire de recherce -->       
					
     <form class="navbar-form navbar-left"  method="POST" role="search" action="{{ url_for ('search_vin')}}">
		 {{fs.hidden_tag()}}
		<div class="form-group">
			{{fs.names(placeholder="Recherche",class_= "form-control")}}
		</div>
		  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span>Submit</button>
	</form>
          
          
          
        </div><!--/.nav-collapse -->
		
	
		
      </div>
    </nav>
{% endblock %} 
{% block content %}

<div class="container theme-showcase" role="main"> 
	
<div class="page-header">
       
</div>

{% block main %}{% endblock %}

{% endblock %} 
