<div id="my_carousel" class="carousel slide" data-ride="carousel">
	<!-- Bulles -->
	<ol class="carousel-indicators">
		<li data-target="#my_carousel" data-slide-to="0" class="active"></li>
		<li data-target="#my_carousel" data-slide-to="1"></li>
		<li data-target="#my_carousel" data-slide-to="2"></li>
	</ol>
	<!-- Slides -->
	<div class="carousel-inner">
		<!-- Page 1 -->
		<div class="item active">  
		<div class="carousel-page">
			<img src="{{ url_for('static', filename='images/351015.jpg') }}" class="img-responsive" style="margin:0px auto;" />
		</div> 
		<div class="carousel-caption"></div>
		</div>   
		<!-- Page 2 -->
		<div class="item"> 
			<div class="carousel-page"><img src="{{ url_for('static', filename='images/431750.jpg') }}" class="img-responsive img-rounded" 
				style="margin:0px auto;"  /></div> 
			<div class="carousel-caption"></div>
		</div>  
		<!-- Page 3 -->
		<div class="item">  
			<div class="carousel-page">
			<img src="{{ url_for('static', filename='images/352015.jpg') }}" class="img-responsive img-rounded" 
			style="margin:0px auto;max-height:100%;"  />
		</div>  
			<div class="carousel-caption"></div>
	</div>     
</div>
					<!-- Contrôles -->
		<a class="left carousel-control" href="#my_carousel" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="right carousel-control" href="#my_carousel" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
		</div>
