{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
{% block main %}

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editer Vins</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body style="background:#eee;">
    <div class="container">
		<p></br></p>
		<div class="row">
			<div class="col-md-8"></div>
			<div class="col-md-4"></div>
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="page-header">
							<h3>Editer Vins</h3>
						</div>	
	<form role="form" method="POST" action="{{ url_for('save_vin') }}">
				{{form.hidden_tag()}}
				<div class=
				{% if form.name.error %}
				"form-group has-error"
				{% else %}
				"form-group"
				{% endif %}
				>
				{{form.name.label}} {{form.name(size=50,class_="form-control")}}
				{{form.country.label}} {{form.country(size=50,class_="form-control")}}
				{{form.image.label}} {{form.image(size=50,class_="form-control")}}
				{{form.category.label}} {{form.category(size=50,class_="form-control")}}
				{{form.quantity.label}}{{form.quantity(size=50,class_="form-control")}}
				{{form.region.label}} {{form.region(size=50,class_="form-control")}}
				{{form.varietal.label}} {{form.varietal(size=50,class_="form-control")}}
				{{form.vintage.label}} {{form.vintage(size=50,class_="form-control")}}
				</div>
				{% if form.name.error %}
				<ul class="list-group">
					{% for e in form.name.error %}
					<li class="list-group-item list-group-item-danger">{{ e }}</li>
					{% endfor %}
				</ul>
				{% endif %}
						  <div class="button">
						   <button type="submit" class="btn btn-primary">Enregistrer</button>
						 </div> 					
	</form>
	{% endblock %}

					</div>
				</div>
		</div>
	</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </body>
</html>

