{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
{% block main %}

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editer Profil</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body style="background:#eee;">
    <div class="container">
		<p></br></p>
		<div class="row">
			<div class="col-md-8"></div>
			<div class="col-md-4"></div>
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="page-header">
							<h3>Editer Profil</h3>
						</div>	
	
	
	
	<form role="form" class="form-horizontal" method="POST" action="{{ url_for('save_profil') }}">
				{{form.hidden_tag()}}
				

				
				
<div class="form-group">
	<label for="login" class="col-sm-2 control-label">Adresse Mail</label>
	<div class="col-sm-10"> 
		{{form.adressemail(size=50,class_="form-control")}}
	</div>
</div>


<div class="form-group">
	<label for="login" class="col-sm-2 control-label">Pseudo</label>
	<div class="col-sm-10">
		{{form.pseudo(size=50,class_="form-control")}}
	</div>
</div>
	
<div class="form-group">
	<label for="login" class="col-sm-2 control-label">Prenom</label>
	<div class="col-sm-10">
		{{form.prenom(size=50,class_="form-control")}}
	</div>
</div>

<div class="form-group">
	<label for="login" class="col-sm-2 control-label">Nom</label>
	<div class="col-sm-10"> 
		{{form.nom(size=50,class_="form-control")}}
	</div>
</div>
	
				
				{% if form.username.error %}
				<ul class="list-group">
					{% for e in form.username.error %}
					<li class="list-group-item list-group-item-danger">{{ e }}</li>
					{% endfor %}
				</ul>
				{% endif %}
						  <div class="button">
						   <button type="submit" class="btn btn-primary">Enregistrer</button>
						 </div> 					
	</form>
	{% endblock %}

					</div>
				</div>
		</div>
	</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </body>
</html>

