{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
{% block main %}
		
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ajouter Vins</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body style="background:#eee;">
    <div class="container">
		<p></br></p>
		<div class="row">
			<div class="col-md-8"></div>
			<div class="col-md-4"></div>
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="page-header">
							<h3>Ajout Vins</h3>
						</div>	
	<form role="form" class="form-horizontal" method="POST" action="{{ url_for('save_newvin') }}" enctype="multipart/form-data">
				{{form.hidden_tag()}}

				
<div class="form-group">
	<label for="login" class="col-sm-2 control-label">Nom</label>
	<div class="col-sm-10"> 
		 {{form.name(size=50,class_="form-control")}}
				
	</div>
</div>



<div class="form-group">
	<label for="password" class="col-sm-2 control-label">Catégorie</label>
	<div class="col-sm-10"> 
			 {{form.category(size=50,class_="form-control")}}
	</div>
</div>

<div class="form-group">
	<label for="password" class="col-sm-2 control-label">Region</label>
	<div class="col-sm-10"> 
			{{form.region(size=50,class_="form-control")}}
	</div>
</div>


<div class="form-group">
	<label for="password" class="col-sm-2 control-label">Country</label>
	<div class="col-sm-10"> 
			 {{form.country(class_="form-control")}}
	</div>
</div>

<div class="form-group">
	<label for="password" class="col-sm-2 control-label">Image</label>
	<div class="col-sm-10"> 
			 {{form.image}}
	</div>
</div>


<div class="form-group">
	<label for="password" class="col-sm-2 control-label">Quantité</label>
	<div class="col-sm-10"> 
			 {{form.quantity(size=50,class_="form-control")}}
	</div>
</div>


<div class="form-group">
	<label for="password" class="col-sm-2 control-label">Region</label>
	<div class="col-sm-10"> 
			 {{form.region(size=50,class_="form-control")}}
	</div>
</div>


<div class="form-group">
	<label for="password" class="col-sm-2 control-label">Varietal</label>
	<div class="col-sm-10"> 
			{{form.varietal(size=50,class_="form-control")}}
	</div>
</div>

<div class="form-group">
	<label for="password" class="col-sm-2 control-label">Vintage</label>
	<div class="col-sm-10"> 
			{{form.vintage(size=50,class_="form-control")}}
	</div>
</div>


				
			
						    <hr/>
							  <button type="reset" class="btn btn-success">Back</button>
							  <button type="submit" class="btn btn-primary">Ajouter</button>
							  <p></br></p>										
	</form>

	{% endblock %}

					</div>
				</div>
				
		</div>
	</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </body>
</html>


