{%extends "base.html" %}
{% block main%}
	{% include 'carousel.html' %}
<div class="sample">
	<div class="page-header">
  <h1>Vins <small>{{nbvin}} à disposition</small></h1>
</div>
<br>
	<script type="text/javascript">
	$(document).ready(function(){
    	$('[data-toggle="tooltip"]').tooltip({
        	placement : 'top'
   	 	});
	});
</script>
	{% if num>nbpage or num<1 %}
		<script>window.location.href="/"+1+""</script>
	{% endif %}
	<div class="center-block row ">
	{% for x in vins %}
	<div class="border visible-sm col-sm-4">
		<!-- <div class="text-center bordertest colortest"><strong>{{x.name}}</strong></div> -->
		<p class="text-center bordurenomvin "><span title="{{x.name}}"class="margincenternomvin">{{x.name}}</span></p>
		<!-- <dl><dt><dd>  
		Description lists	A description list is perfect for defining terms.
				  euismod   Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
		-->
		<a href="{{url_for('affiche_vin', id=x.id, page=num)}}">
			<img title="{{x.name}}"class="center-block image" src="{{ url_for('static', filename='images/'+x.image) }}" />
		</a>
		<dl class="dl-horizontal"><dt class="dt">Quantité :</dt><dd>{{x.quantity}}</dd></dl>
					{% if current_user.is_authenticated() %}
			<a href="{{url_for('suppr_vin', id=x.id, num=num)}}"><button class="center-block btn btn-danger" type="button" aria-expanded="false">Supprimer</button></a>
			{% endif %}
	</div>

	{% if loop.index%3==1 %}
		<div class="border-md-margin visible-md col-md-4">
	{% else %}
		<div class="border visible-md col-md-4">
	{% endif %}
			<p class="text-center bordurenomvin "><span title="{{x.name}}" class="margincenternomvin">{{x.name}}</span></p>
			<a href="{{url_for('affiche_vin', id=x.id, page=num)}}">
			<img title="{{x.name}}" class="center-block image" src="{{ url_for('static', filename='images/'+x.image) }}" /></a>
			<dl class="dl-horizontal"><dt class="dt">Quantité :</dt><dd>{{x.quantity}}</dd></dl>
			
			
			{% if current_user.is_authenticated() %}
			<a href="{{url_for('suppr_vin', id=x.id, num=num)}}"><button class="center-block btn btn-danger" type="button" aria-expanded="false">Supprimer</button></a>
			{% endif %}
		<hr>
		</div>
	{% if loop.index%4==1 %}
		<div class="border-lg-margin visible-lg col-lg-3">
	{% else %}
		<div class="border visible-lg col-lg-3">
	{% endif %}
			<p class="text-center bordurenomvin "><span title="{{x.name}}" class="margincenternomvin">{{x.name}}</span></p>
			<a href="{{url_for('affiche_vin', id=x.id, page=num)}}">
			<img title="{{x.name}}" class="center-block image" src="{{ url_for('static', filename='images/'+x.image) }}" /></a>
			<dl class="dl-horizontal"><dt class="dt">Quantité :</dt><dd>{{x.quantity}}</dd></dl>
			{% if current_user.is_authenticated() %}
			<a href="{{url_for('suppr_vin', id=x.id, num=num)}}"><button class="center-block btn btn-danger" type="button" aria-expanded="false">Supprimer</button></a>
			{% endif %}<hr>
		</div>
				<!-- <a href="#" data-toggle="tooltip" data-original-title="Default tooltip"><span class="margincenternomvin">{{x.name}}</span></a></p> -->

	<div class=" visible-xs col-xs-1"></div>
	<div class="border-xs-margin visible-xs col-xs-10">
		<p class="text-center bordurenomvin "><span title="{{x.name}}" class="margincenternomvin">{{x.name}}</span></p>
		<a href="{{url_for('affiche_vin', id=x.id, page=num)}}">
		<img title="{{x.name}}" class="center-block image" src="{{ url_for('static', filename='images/'+x.image) }}" /></a>
		<dl class="dl-horizontal"><dt>Quantité :</dt><dd>{{x.quantity}}</dd></dl>
				{% if current_user.is_authenticated() %}
			<a href="{{url_for('suppr_vin', id=x.id, num=num)}}"><button class="center-block btn btn-danger" type="button" aria-expanded="false">Supprimer</button></a>
			{% endif %}
			<hr>
	</div>
	<div class="visible-xs col-xs-1"><p></p>
	</div>	
{% endfor %}

{# ############################## #}
{# ############################## #}
{# Si tous a True = TOUTE page #}
{# ############################## #}
{# ############################## #}
{% if nombre==True and nombre4==True and nombre3==True and nombre2==True %}
<script>
varh = document.location.href.split("/");
z=varh[3]
if(z=="" || z=="1"){
	document.write("<nav><div class='col-xs-10 col-sm-12 col-md-12 col-lg-12 text-center'><ul class='pagination'><li class='disabled'>");
	document.write("<span aria-hidden='true'>&laquo;</span></li><li class='active'><a href='/1'>1</a></li>");
	document.write("<li><a href='/2'>2</a></li><li><a href='/3'>3</a></li><li><a href='/4'>4</a></li>");
	document.write("<li><a href='/5'>5</a></li><li><a href='/2' aria-label='Next'>");
	document.write("<span aria-hidden='true'>&raquo;</span></a></li></ul></div></nav>");
}
else{
	a=Number(z);

	document.write("<nav><div class='col-xs-10 col-sm-12 col-md-12 col-lg-12 text-center'><ul class='pagination'><li><a href='/"+(a-1)+"' aria-label='Previous'>");
	document.write("<span aria-hidden='true'>&laquo;</span></a></li><li class='active'><a href='/"+(a)+"'>"+(a)+"</a></li>");
	document.write("<li><a href='/"+(a+1)+"'>"+(a+1)+"</a></li><li><a href='/"+(a+2)+"'>"+(a+2)+"</a></li><li><a href='/"+(a+3)+"'>"+(a+3)+"</a></li>");
	document.write("<li><a href='/"+(a+4)+"'>"+(a+4)+"</a></li><li><a href='/"+(a+1)+"' aria-label='Next'>");
	document.write("<span aria-hidden='true'>&raquo;</span></a></li></ul></div></nav>");
	/*document.write("<a href='/"+(a-1)+"' class='bordertest col-xs-4 col-sm-4 col-md-3 '>Page précédente </a>");*/
}

</script>
{% endif %}
{# ############################## #}
{# ############################## #}
{# Si tous a false = derniere page #}
{# ############################## #}
{# ############################## #}
{% if nombre==False and nombre3==False and nombre4==False and nombre2==False %}
<script>
varh = document.location.href.split("/");
z=varh[3]
if(z=="" || z=="1"){
	document.write("<nav><div class='col-xs-10 col-sm-12 col-md-12 col-lg-12 text-center'><ul class='pagination'><li class='disabled'>");
	document.write("<span aria-hidden='true'>&laquo;</span></li><li class='active'><a href='/1'>1</a></li>");
	document.write("<li><a href='/2'>2</a></li><li><a href='/3'>3</a></li><li><a href='/4'>4</a></li>");
	document.write("<li><a href='/5'>5</a></li><li><a href='/2' aria-label='Next'>");
	document.write("<span aria-hidden='true'>&raquo;</span></a></li></ul></div></nav>");
}
else{
	a=Number(z);

	document.write("<nav><div class='col-xs-10 col-sm-12 col-md-12 col-lg-12 text-center'><ul class='pagination'><li><a href='/"+(a-1)+"' aria-label='Previous'>");
	document.write("<span aria-hidden='true'>&laquo;</span></a></li><li class='active'><a href='/"+(a)+"'>"+(a)+"</a></li>");
	document.write("<li class='disabled' ></li><li class='disabled' ></li><li class='disabled' ></li>");
	document.write("<li class='disabled' ></li><li class='disabled' ><a aria-label='Next'>");
	document.write("<span aria-hidden='true'>&raquo;</span></a></li></ul></div></nav>");
	/*document.write("<a href='/"+(a-1)+"' class='bordertest col-xs-4 col-sm-4 col-md-3 '>Page précédente </a>");*/
}
</script>
{% endif %}
{# ############################## #}
{# ############################## #}
{# Si tous a false SAUF nombre= avant derniere page #}
{# ############################## #}
{# ############################## #}
{% if nombre2==False and nombre4==False and nombre3==False and nombre==True %}
<script>
varh = document.location.href.split("/");
z=varh[3]
if(z=="" || z=="1"){
	document.write("<nav><div class='col-xs-10 col-sm-12 col-md-12 col-lg-12 text-center'><ul class='pagination'><li class='disabled'>");
	document.write("<span aria-hidden='true'>&laquo;</span></li><li class='active'><a href='/1'>1</a></li>");
	document.write("<li><a href='/2'>2</a></li><li><a href='/3'>3</a></li><li><a href='/4'>4</a></li>");
	document.write("<li><a href='/5'>5</a></li><li><a href='/2' aria-label='Next'>");
	document.write("<span aria-hidden='true'>&raquo;</span></a></li></ul></div></nav>");
}
else{
	a=Number(z);
	document.write("<nav><div class='col-xs-10 col-sm-12 col-md-12 col-lg-12 text-center'><ul class='pagination'><li><a href='/"+(a-1)+"' aria-label='Previous'>");
	document.write("<span aria-hidden='true'>&laquo;</span></a></li><li class='active'><a href='/"+(a)+"'>"+(a)+"</a></li>");
	document.write("<li><a href='/"+(a+1)+"'>"+(a+1)+"</a></li><li class='disabled'><a>"+(a+2)+"</a></li><li class='disabled'><a>"+(a+3)+"</a></li>");
	document.write("<li class='disabled'><a>"+(a+4)+"</a></li><li><a href='/"+(a+1)+"' aria-label='Next'>");
	document.write("<span aria-hidden='true'>&raquo;</span></a></li></ul></div></nav>");
	/*document.write("<a href='/"+(a-1)+"' class='bordertest col-xs-4 col-sm-4 col-md-3 '>Page précédente </a>");*/
}

</script>
{% endif %}
{# ############################## #}
{# ############################## #}
{# Si tous a false SAUF nombre et nombre2 avant avant derniere page #}
{# ############################## #}
{# ############################## #}
{% if nombre3==False and nombre4==False and nombre2==True and nombre==True %}
<script>
varh = document.location.href.split("/");
z=varh[3]
if(z=="" || z=="1"){
	document.write("<nav><div class='col-xs-10 col-sm-12 col-md-12 col-lg-12 text-center'><ul class='pagination'><li class='disabled'>");
	document.write("<span aria-hidden='true'>&laquo;</span></li><li class='active'><a href='/1'>1</a></li>");
	document.write("<li><a href='/2'>2</a></li><li><a href='/3'>3</a></li><li><a href='/4'>4</a></li>");
	document.write("<li><a href='/5'>5</a></li><li><a href='/2' aria-label='Next'>");
	document.write("<span aria-hidden='true'>&raquo;</span></a></li></ul></div></nav>");
}
else{
	a=Number(z);
// 
// 	document.write("<nav><div class='col-xs-10 col-sm-12 col-md-12 col-lg-12 text-center'><ul class='pagination'><li><a href='/"+(a-1)+"' aria-label='Previous'>");
// 	document.write("<span aria-hidden='true'>&laquo;</span></a></li><li class='active'><a href='/"+(a)+"'>"+(a)+"</a></li>");
// 	document.write("<li><a href='/"+(a+1)+"'>"+(a+1)+"</a></li><li><a href='/"+(a+2)+"'>"+(a+2)+"</a></li><li><a href='/"+(a+3)+"'>"+(a+3)+"</a></li>");
// 	document.write("<li><a href='/"+(a+4)+"'>"+(a+4)+"</a></li><li><a href='/"+(a+1)+"' aria-label='Next'>");

	document.write("<nav><div class='col-xs-10 col-sm-12 col-md-12 col-lg-12 text-center'><ul class='pagination'><li><a href='/"+(a-1)+"' aria-label='Previous'>");
	document.write("<span aria-hidden='true'>&laquo;</span></a></li><li class='active'><a href='/"+(a)+"'>"+(a)+"</a></li>");
	document.write("<li><a href='/"+(a+1)+"'>"+(a+1)+"</a></li><li><a href='/"+(a+2)+"'>"+(a+2)+"</a></li><li class='disabled'><a>"+(a+3)+"</a></li>");
	document.write("<li class='disabled'><a>"+(a+4)+"</a></li><li><a href='/"+(a+1)+"' aria-label='Next'>");
	document.write("<span aria-hidden='true'>&raquo;</span></a></li></ul></div></nav>");
	/*document.write("<a href='/"+(a-1)+"' class='bordertest col-xs-4 col-sm-4 col-md-3 '>Page précédente </a>");*/
}

</script>
{% endif %}
{# ############################## #}
{# ############################## #}
{# Si tous a false SAUF nombre et nombre2 et nombre3 avant avant derniere page #}
{# ############################## #}
{# ############################## #}
{% if nombre3==True and nombre4==False and nombre2==True and nombre==True %}
<script>
varh = document.location.href.split("/");
z=varh[3]
if(z=="" || z=="1"){
	document.write("<nav><div class='col-xs-10 col-sm-12 col-md-12 col-lg-12 text-center'><ul class='pagination'><li class='disabled'>");
	document.write("<span aria-hidden='true'>&laquo;</span></li><li class='active'><a href='/1'>1</a></li>");
	document.write("<li><a href='/2'>2</a></li><li><a href='/3'>3</a></li><li><a href='/4'>4</a></li>");
	document.write("<li><a href='/5'>5</a></li><li><a href='/2' aria-label='Next'>");
	document.write("<span aria-hidden='true'>&raquo;</span></a></li></ul></div></nav>");
}
else{
	a=Number(z);
// 
// 	document.write("<nav><div class='col-xs-10 col-sm-12 col-md-12 col-lg-12 text-center'><ul class='pagination'><li><a href='/"+(a-1)+"' aria-label='Previous'>");
// 	document.write("<span aria-hidden='true'>&laquo;</span></a></li><li class='active'><a href='/"+(a)+"'>"+(a)+"</a></li>");
// 	document.write("<li><a href='/"+(a+1)+"'>"+(a+1)+"</a></li><li><a href='/"+(a+2)+"'>"+(a+2)+"</a></li><li><a href='/"+(a+3)+"'>"+(a+3)+"</a></li>");
// 	document.write("<li><a href='/"+(a+4)+"'>"+(a+4)+"</a></li><li><a href='/"+(a+1)+"' aria-label='Next'>");

	document.write("<nav><div class='col-xs-10 col-sm-12 col-md-12 col-lg-12 text-center'><ul class='pagination'><li><a href='/"+(a-1)+"' aria-label='Previous'>");
	document.write("<span aria-hidden='true'>&laquo;</span></a></li><li class='active'><a href='/"+(a)+"'>"+(a)+"</a></li>");
	document.write("<li><a href='/"+(a+1)+"'>"+(a+1)+"</a></li><li><a href='/"+(a+2)+"'>"+(a+2)+"</a></li><li><a href='/"+(a+3)+"'>"+(a+3)+"</a></li>");
	document.write("<li class='disabled'><a>"+(a+4)+"</a></li><li><a href='/"+(a+1)+"' aria-label='Next'>");
	document.write("<span aria-hidden='true'>&raquo;</span></a></li></ul></div></nav>");
	/*document.write("<a href='/"+(a-1)+"' class='bordertest col-xs-4 col-sm-4 col-md-3 '>Page précédente </a>");*/
	
}


</script>

{% endif %}
<!-- Large button group -->
{% if current_user.is_authenticated() %}
<div class="pannier btn-group">

  <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
    {{ current_user.username }} <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
  	{% set cpt=0 %}
  	{% if pannier|length==0 %}
  	<div class="text-center">Pour ajouter un vin dans votre pannier il faut : </div>
   	<div>-> Selectionner un vin en cliquant sur son image</div>
   	<div>-> Puis ensuite cliquer sur le bouton "Ajouter" de la fiche du vin choisit.</div>
   	<div class="text-center">Nous vous souhaitons une agréable visite.</div>
    </ul>
    <a href="/100"><span class="badge">0</span></a>
    {% endif %}
  	{% for x in pannier %}
  	{% if x.name==current_user.username %}
  	{% set cpt = cpt + 1 %}
    <li><div><a href="/vin/{{x.idvin}}/{{x.pagevin}}"><img class="icone" src="{{ url_for('static', filename='images/'+x.imagevin) }}">{{x.namevin}}</a>
    <a href="{{url_for('SupprimerPannier', id=x.id)}}"><span class="glyphicon collerdroite glyphicon glyphicon-remove" aria-hidden="true"></span></a></div></li>
    {% endif %}
    {% if loop.last and cpt!=0 %}
    <a href="{{url_for('ResetPannier',name=current_user.username)}}"><span class="glyphicon  glyphicon glyphicon-trash" aria-hidden="true"></span></a>
    </ul>
    <a href="/100"><span class="badge">{{cpt}}</span></a>
    {% endif %}
    {% if loop.last and cpt==0 %}
   <div class="text-center">Pour ajouter un vin dans votre pannier il faut : </div>
   <div>-> Selectionner un vin en cliquant sur son image</div>
   <div>-> Puis ensuite cliquer sur le bouton "Ajouter" de la fiche du vin choisit.</div>
   <div class="text-center">Nous vous souhaitons une agréable visite.</div>
    </ul>
    <a href="/100"><span class="badge">0</span></a>
    {% endif %}
    {% endfor %}


</div>
{% endif %}


</div>
</div>
</div>

<br>

<center>
     <!-- <form class="navbar-form navbar-center" method="POST" role="form" action="{{ url_for('recherchepage') }}">-->
        <div class="form-group navbar-form navbar-center">
		
		{# {{form.npage.label}} {{form.npage(size=50,class_="form-control")}} #}
          <input id="1" type="text" class="form-control" placeholder="Search">
          
          <script>
			document.write("<button onClick='f()' type='submit' class='btn btn-default'>Submit</button>")
			
			function f()
{
			var obj = document.getElementById("1")
			window.location.href="/"+obj.value+""
}
          </script>
        </div>
        <!--<button href="/"+ type="submit" class="btn btn-default">Submit</button>-->
     <!-- </form>-->
</center>
  
  <br><br>
  
 {% endblock%}

