{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
{% block main %}

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editer Vins</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body style="background:#eee;">
    <div class="container">
		<p></br></p>
		<div class="row">
			<div class="col-md-8"></div>
			<div class="col-md-4"></div>
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="page-header">
							<h3>S'inscrire</h3>
							
						</div>
				{% if current_user.is_authenticated() %}
				<p>Vous êtes Inscris<p>
				{% else %}
				

							{% if testo==4 %}
								<div class="alert alert-success alert-dismissible" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<strong>Bievenue !</strong> Votre inscription a été confirmé, vous pouvez vous connecter ci dessous.
								</div>
							
							<a href="{{ url_for ('login')}}"><button type="submit" class="btn btn-primary">Connexion</button></a>
								
							{% elif testo==5 %}
								<div class="alert alert-warning alert-dismissible" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<strong>Attention !</strong> Ce login est déja utilisé, merci d'en choisir un autre.
								</div>
							{% else %}
				
				
				
				 <form role="form"  class="form-horizontal" method="POST" action="{{ url_for('newuser') }}">
				{{form.hidden_tag()}}
				
				
<div class="form-group">
	<label for="login" class="col-sm-2 control-label">Login</label>
	<div class="col-sm-10"> 
		 {{form.username(size=50,class_="form-control",placeholder="Login")}}
				
	</div>
</div>



<div class="form-group">
	<label for="password" class="col-sm-2 control-label">{{form.password.label}}</label>
	<div class="col-sm-10"> 
			 {{form.password(size=50,class_="form-control",placeholder="Mot de passe")}}
	</div>
</div>

<div class="form-group">
	<label for="adressemail" class="col-sm-2 control-label">{{form.adressemail.label}}</label>
	<div class="col-sm-10"> 
			 {{form.adressemail(size=50,class_="form-control",placeholder="Adresse Mail")}}
	</div>
</div>


<div class="form-group">
	<label for="pseudo" class="col-sm-2 control-label">{{form.pseudo.label}}</label>
	<div class="col-sm-10"> 
			 {{form.pseudo(size=50,class_="form-control",placeholder="pseudo")}}
	</div>
</div>

<div class="form-group">
	<label for="prenom" class="col-sm-2 control-label">{{form.prenom.label}}</label>
	<div class="col-sm-10"> 
			 {{form.prenom(size=50,class_="form-control",placeholder="prenom")}}
	</div>
</div>

<div class="form-group">
	<label for="nom" class="col-sm-2 control-label">{{form.nom.label}}</label>
	<div class="col-sm-10"> 
			 {{form.nom(size=50,class_="form-control",placeholder="nom")}}
	</div>
</div>


				<hr>
					<div class="button">
						   <button type="submit" class="btn btn-primary">S'inscrire</button>
						   <br><br>
							
							
				{% endif %}
				 </div> 					
				</form>
		{% endif %}
	{% endblock %}

					</div>
				</div>
		</div>
	</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
