{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
{% block main %}

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Connexion</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body style="background:#eee;">
    <div class="container">
		<p></br></p>
		<div class="row">
			<div class="col-md-8"></div>
			<div class="col-md-4"></div>
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="page-header">
							<h3>Connexion</h3>
							
						</div>
						
						{% if testo==15 %}
					<div class="alert alert-success alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<strong>Bonjour !</strong> Vous êtes maintenant connecté.
			</div>
			{% else %}
{% if current_user.is_authenticated() %}		


		<div class="alert alert-warning alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<strong>Erreur !</strong> Vous êtes déja connecté, vous pouvez vous deconnecter ci-dessous.
			</div>

<div class="button">
	<a href="{{ url_for('logout') }}"> <button type="submit" class="btn btn-primary">Deconnexion</button></a>
	
</div> 
{% else %}


<form class="form-horizontal" role="form" method="POST" action="{{ url_for('login') }}" >
{{ form.hidden_tag() }}
<div class="form-group">
	<label for="username" class="col-sm-2 control-label">{{ form.username.label }}</label>
	<div class="col-sm-10"> 
		{{ form.username(size=50, class_="form-control",placeholder="Username")}}
	</div>
</div>


<div class="form-group">
	<label for="password" class="col-sm-2 control-label">{{ form.password.label }}</label>
	<div class="col-sm-10">
		{{ form.password(size=50, class_="form-control",placeholder="Password")}}
	</div>
</div>

<hr>

		<button type="submit" class="btn btn-primary">Connexion</button>

<hr>
		{% endif %}

		{% if testo==18 %}
			<div class="alert alert-danger alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<strong>Attention !</strong> Le login ou le mot de passe n'est pas correct, merci de recommencer.
			</div>
		{% endif %}
						 			


</form>
{% endif %}

{% endblock %}

</div>
				</div>
		</div>
	</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </body>
</html>

