{% extends "base.html" %}
{% block content %}
<div id="main" class="container">
    <h2>All Items</h2>
    <table class="table table-hover">
      <tr>
        <th>#
        <th>Namee
        <th>Category
        <th>Country
        <th>Varietal
        <th>Vintage
        <th>Region
        <th>Quantity
      {%- for vin in vins %}
      <tr class={{ "success" if vin.done }}>
        <td><a href="/vins/{{ vin.id }}">{{ vin.id }}</a>
        <td style={{ "text-decoration:line-through" if vin.done }}>{{ vin.name }}
        <td>{{ vin.category }}
        <td>{{ vin.country }}
        <td>{{ vin.varietal }}
        <td>{{ vin.vintage }}
        <td>{{ vin.region }}
        <td>{{ vin.quantity }}
        </td>
      {%- endfor %}
    </table>
    <p>
      <a href="{{ url_for('save_ajout') }}" class="btn btn-large btn-primary">New Todo</a>
 
 
</div>
{% endblock %}
