{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
{% block main %}

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editer Vins</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body style="background:#eee;">
    <div class="container">
		<p></br></p>
		<div class="row">
			<div class="col-md-8"></div>
			<div class="col-md-4"></div>
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="page-header">
							<h3>Profil   <a href="editerprofil"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></a></h3>
							
							
						</div>		


<label for="login" class="col-sm-2 control-label">Login</label>
{{ current_user.username }}
<br><br>
<label for="login" class="col-sm-2 control-label">Mail</label>
{{ current_user.adressemail }}

<br><br>
<label for="login" class="col-sm-2 control-label">Rang</label>
{{ current_user.grade }}

<br><br>
<label for="login" class="col-sm-2 control-label">Pseudo</label>
{{ current_user.pseudo }}

<br><br>
<label for="login" class="col-sm-2 control-label">Prenom</label>
{{ current_user.prenom }}

<br><br>
<label for="login" class="col-sm-2 control-label">Nom</label>
{{ current_user.nom }}









{% endblock %}

					</div>
				</div>
		</div>
	</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
