{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
{% block main %}

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editer Vins</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body style="background:#eee;">
    <div class="container">
		<p></br></p>
		<div class="row">
			<div class="col-md-8"></div>
			<div class="col-md-4"></div>
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="page-header">
							<h3>Rechercher</h3>
							
							
							
							
							
						</div>
<form class="navbar-form navbar-left" method="POST" role="search" action="{{ url_for ('search')}}">
	{{form.hidden_tag()}}
              <div class="form-group">
	
	<label for="login" class="col-sm-2 control-label">{{form.names.label}}</label>
	{{form.names(size=50,class_="form-control",placeholder="Nom")}}
              </div>
              <button type="submit" class="btn btn-primary">OK</button>
 </form>

<br><br><br><br><br><br>
<div class="center-block row ">
{% for x in results %}
	<div class="border visible-sm col-sm-4">
		<!-- <div class="text-center bordertest colortest"><strong>{{x.name}}</strong></div> -->
		<p class="text-center bordurenomvin "><span title="{{x.name}}"class="margincenternomvin">{{x.name}}</span></p>
		<!-- <dl><dt><dd>  
		Description lists	A description list is perfect for defining terms.
				  euismod   Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
		-->
		<a href="{{url_for('affiche_vin', id=x.id, page=num)}}">
			<img title="{{x.name}}"class="center-block image" src="{{ url_for('static', filename='images/'+x.image) }}" />
		</a>
		<dl class="dl-horizontal"><dt class="dt">Quantité :</dt><dd>{{x.quantity}}</dd></dl>
		
	</div>

	{% if loop.index%3==1 %}
		<div class="border-md-margin visible-md col-md-4">
	{% else %}
		<div class="border visible-md col-md-4">
	{% endif %}
			<p class="text-center bordurenomvin "><span title="{{x.name}}" class="margincenternomvin">{{x.name}}</span></p>
			<a href="{{url_for('affiche_vin', id=x.id, page=1)}}">
			<img title="{{x.name}}" class="center-block image" src="{{ url_for('static', filename='images/'+x.image) }}" /></a>
			<dl class="dl-horizontal"><dt class="dt">Quantité :</dt><dd>{{x.quantity}}</dd></dl>
		</div>
	{% if loop.index%4==1 %}
		<div class="border-lg-margin visible-lg col-lg-3">
	{% else %}
		<div class="border visible-lg col-lg-3">
	{% endif %}
			<p class="text-center bordurenomvin "><span title="{{x.name}}" class="margincenternomvin">{{x.name}}</span></p>
			<a href="{{url_for('affiche_vin', id=x.id, page=num)}}">
			<img title="{{x.name}}" class="center-block image" src="{{ url_for('static', filename='images/'+x.image) }}" /></a>
			<dl class="dl-horizontal"><dt class="dt">Quantité :</dt><dd>{{x.quantity}}</dd></dl>
		</div>
				<!-- <a href="#" data-toggle="tooltip" data-original-title="Default tooltip"><span class="margincenternomvin">{{x.name}}</span></a></p> -->

	<div class=" visible-xs col-xs-1"></div>
	<div class="border-xs-margin visible-xs col-xs-10">
		<p class="text-center bordurenomvin "><span title="{{x.name}}" class="margincenternomvin">{{x.name}}</span></p>
		<a href="{{url_for('affiche_vin', id=x.id, page=num)}}">
		<img title="{{x.name}}" class="center-block image" src="{{ url_for('static', filename='images/'+x.image) }}" /></a>
		<dl class="dl-horizontal"><dt>Quantité :</dt><dd>{{x.quantity}}</dd></dl>
	</div>
	<div class="visible-xs col-xs-1"><p></p>
	</div>	
{% endfor %}
</div>
 {% endblock%}
 					</div>
				</div>
		</div>
	</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
