{% extends "base.html" %}

{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="success">
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

  <ul>
  {% for key, newvin in vins.iteritems() %}
    <li>
      <p class="vin-description {% if newvin.done %}newvin-done{% endif %}">
        {{ newvin.name }}
      </p>
      {% if newvin.done %}
        <a href="{{ url_for('task_delete', key=key) }}">delete</a>
      {% else %}
        <a href="{{ url_for('task_done', key=key) }}">done</a>
      {% endif %}
    </li>
  {% else %}
    <p>No VIN! You can <a href="{{ url_for('ajout_vin') }}">create a new one</a>.<p>
  {% endfor %}
  </ul>
{% endblock %}

